<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Employee Assesment page</title>
<style>
body{background:Lightpink; }
h1{color:black;text-align:center;}
h3{color:red;}
a {
  text-decoration: none;
  color:green;
}
a:hover {
  font-weight: 900;
}
</style>
</head>
<body>
<h1>Welcome To Employee Assesment page</h1><br><br>
<a href="/employee/tech"><h3>1. Click here to Register for Technical  Assesment</h3><br></a><br><br>
<a href="/employee/Beh"><h3>2. Click here to Register for Behavioral  Assesment</h3><br></a><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a href="/employee/nwcb"><h3>*******!!!!!Zomato not Working Circuit Breaker!!!!!*******</h3><br></a><br><br>

</body>
</html>